<footer class="row-footer">
	<div class="container">
		<p>For technical issues, mail us at: <a href="#">bugs@bookmyticket.com</a></p>
		<p>Follow us on: </p>
		<a href="#" style="color: #3b5998"><i class="fa fa-facebook-official fa-3x"></i></a>
		<a href="#" style="color: #0095fd"><i class="fa fa-twitter-square fa-3x"></i></a>
		<a href="#" style="color: #0077b5"><i class="fa fa-linkedin-square fa-3x"></i></a>
		<a href="#" style="color: #dc4e41"><i class="fa fa-google-plus-square fa-3x"></i></a>
	</div>
</footer>